
*__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info
dist/
build/
tests/__pycache__/
vsh.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml

#ruff 
.ruff_cache

#pytest
.pytest_cache


# Translations
*.mo
conda-env
vsh.egg-info

.DS_Store

# Big vasp files

WAVECAR
test/files/Bi2Se3/POTCAR
test/files/Bi2Se3/CHGCAR
test/files/Bi2Se3/PARCHG
test/files/Bi2Se3/*.cube

*.tgz
